.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin-top: 10%;
}
.images{
    background-color: #fff;
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 60vh;
    box-shadow: 2px 2px 10px black;
}
.image{
    height: 250px;
    width: 100%;
}
.desc{
    padding-bottom: 10px;
}